<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kelix | Home</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block head %} {% endblock %}

</head>
    <body>

        {% include 'core/navbar.html' %}

        {% block content %} {% endblock %}

        
        <footer class="text-center mt-5 mb-5"> 
            <b>&copy 2024; MarfleyTech.com</b>
        </footer>


        <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">


        <script>
            function toast(message, type) {
                bootoast.toast({
                    position: 'leftBottom',
                    message,
                    type
                })
            }

            {% if messages %}
                
            {% for message in messages %}
                toast ('{{ messge }}', '{{ message.tags }}');
            
            {% endfor %}

            {% endif %}
        </script>

    </body>
</html>
